/* Grıp selectör
1  *  tüm etiketleri secer
(div p)  div içindeki tüm p etiketleri
(div,p) tüm div ve p etiketleri
(p eşlik işareti div) p ile aynı seviyedeki tüm divler
(p + div) p etiketinden sonra gelen tüm divler


*/

/* 
p{
    background-color: burlywood;
}

div p {

    background-color: crimson;
}

.conteiner div.box {

    background-color: darkgreen;

} */

/* div.box , p {
    background-color: darkgreen;
} */

/* div>p{  
/* p etiketinin bir üst elemanı div ise al  */
    /* border: 1px solid red;

} */ 

/* p+div{
    border: 1px solid red;
    background-color: seagreen;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 20px;
} */
/* 
p[title]{

    border: 1px solid red; 
    padding: 5px;
}

p[title="third paragraph"]{

    background-color: saddlebrown;
}

a[href ^="https"]{
    color: red;
}


a[href $="com"]{
    color: aqua;
}

input[type="text"]{

    display: block;
    width: 150px;
    background-color: red;
}
input[type="button"]{

    background: yellow;
    color: violet;
    padding: 10px;
} */

table{
    width: 100%;
border-collapse: collapse;
}
table th{
    text-align: left;
    background-color: royalblue;
    color: white;
}

table td,table th{

    border: 1px solid red;
    padding: 6px;

}
table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:hover{
    background-color: #ddd;
}



